.authentication-wrapper {
  height: 98.2vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.authentication {
  max-width: 50%;
  min-width: 40rem;
}

.mat-card-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-wrapper {
  width: 100%;
  text-align: center;
}

.mat-form-field {
  width: 80%;
}

.password {
  display: flex;
}
.button-wrapper {
  display: flex;
  justify-content: space-around;
}

.mat-card-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #55007b;
  font-size: 2rem;
  margin: 1rem 0px;
}

@media (max-width: 700px) {
  .authentication {
    min-width: 18rem;
  }
}

@media (max-width: 400px) {
  .button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    margin: 1rem 0;
  }
}
