.mat-card {
  width: calc(33% - 100px);
  box-shadow: 0px 3px 5px 2px rgba(136, 0, 249, 0.302),
    0px 2px 6px 0px rgba(221, 0, 135, 0.14),
    0px 2px 5px 0px rgba(255, 56, 252, 0.12);
  background: none;
  margin: 4rem 0;
  height: 60vh;
  overflow-y: auto;
}

.card-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.btn-return {
  width: 12rem;
  border-color: white;
  color: white;
  transition: all 0.2s;
  margin-right: 3rem;
}

.btn-return:hover {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
}

.title-text {
  color: white;
  font-size: 28px;
}

.mat-card-subtitle {
  font-size: 18px;
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.mat-card-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  p {
    color: white;
    font-size: 14px;
  }
}

.poster {
  width: 15rem;
}

.mat-paginator {
  background: none;
  font-size: 18px;
  color: white;
  margin-right: 3rem;
  margin-top: 4rem;
}

@media screen and (max-width: 992px) {
  .mat-card {
    width: calc(50% - 100px);
  }
}

@media screen and (max-width: 600px) {
  .mat-card {
    width: calc(100% - 100px);
  }
}

@media screen and (max-height: 890px) {
  .poster {
    width: 22vh;
  }
}

@media (max-width: 400px) {
  .poster {
    width: 22vh;
  }
  .title-text {
    font-size: 15px;
  }
  .mat-card-subtitle {
    font-size: 13px;
  }

  .return-wrapper {
    text-align: center;
  }
  .btn-return {
    margin-right: 0;
  }
  .mat-paginator {
    margin-right: 1.5rem;
    font-size: 11px;
  }
}
